* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

/* Header */
.active {
  color: violet;
}

.navLink {
  color: black;
  text-decoration: none;
  margin-left: 20px;
}

/*  Banner */
.banner {
  width: 100%;
  height: 400px;
}
/* Nổi bật */
.noibat {
  height: 200px;
}

.noibat h6 {
  padding-top: 30%;
  color: white;
  padding-left: 20px;
}
.noibat a {
  text-decoration: none;
  color: rgb(237, 90, 31);
  padding-left: 20px;
}
.noibat a:hover {
  text-decoration: none;
  color: orangered;
}
.noibat1 {
  background-image: url('https://i.pinimg.com/564x/df/d6/b3/dfd6b3ca3e45b7e3ee42639212f43f18.jpg');
  background-size: cover; /* Ảnh sẽ vừa khung và không bị biến dạng */
  background-repeat: no-repeat; /* Ngăn chặn ảnh lặp lại */
}
.noibat2 {
  background-image: url('https://i.pinimg.com/564x/fe/f9/b6/fef9b6f9a96eb9718250a39953cb658b.jpg');
  background-size: cover; /* Ảnh sẽ vừa khung và không bị biến dạng */
  background-repeat: no-repeat; /* Ngăn chặn ảnh lặp lại */
}
.noibat3 {
  background-image: url('https://i.pinimg.com/564x/a6/9a/5e/a69a5e495b2c5d0afa003e932281cfdc.jpg');
  background-size: cover; /* Ảnh sẽ vừa khung và không bị biến dạng */
  background-repeat: no-repeat; /* Ngăn chặn ảnh lặp lại */
}
/* Sale */
.sale {
  height: 300px;
}
.sale1 {
  background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20230817/pngtree-pink-cosmetics-on-a-pink-background-with-different-shades-of-creams-image_13021897.jpg');
  background-size: cover; /* Ảnh sẽ vừa khung và không bị biến dạng */
  background-repeat: no-repeat; /* Ngăn chặn ảnh lặp lại */
}
.sale2 {
  background-image: url('https://img.pikbest.com/ai/illus_our/20230428/d8c8c91335c0df084594cb9d348b7118.jpg!w700wp');
  background-size: cover; /* Ảnh sẽ vừa khung và không bị biến dạng */
  background-repeat: no-repeat; /* Ngăn chặn ảnh lặp lại */
}
.content {
  padding-top: 15%;
  padding-left: 5%;
}
.content p {
  color: rgb(156, 6, 6);
  font-size: 10px;
  font-weight: bold;
}
.content b {
  color: rgb(156, 6, 6);
}
.content h6 {
  line-height: 35px;
  font-size: 25px;
  color: aliceblue;
}
/* ProductList */
.product {
  padding-top: 6px;
  border: 1px solid rgb(243, 243, 243);
  width: 250px;
  border-radius: 7px;
}
.row {
  gap: 30px;
}
.thongtin {
  padding-top: 30px;
}
.thongtin a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.thongtin a:hover {
  text-decoration: underline;
}
.thongtin p {
  font-size: small;
}
.thongtin span {
  color: red;
  font-weight: bold;
}
.dssp {
  margin-bottom: 10px;
}
.dssp button {
  width: 17%;
  border-radius: 5px;
  border: solid orangered;
}

/* Chi tiết sản phẩm */
.ctsp {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Tạo hai cột bằng nhau */
  width: 90%;
  border: 2px solid rgb(245, 245, 245);
  margin: 5%;
  border-radius: 50px;
}
.nd {
  padding: 20px;
}
.button {
  height: 25px;
  width: 30px;
  border: 1px solid rgb(243, 238, 238);
  background-color: white;
}
.button1 {
  padding: 10px 15px;
  margin: 50px;
  border: 1px solid rgb(243, 238, 238);
  background-color: rgb(239, 121, 140);
  color: white;
}
.button2 {
  padding: 10px 15px;
  border: 1px solid rgb(243, 238, 238);
  background-color: rgb(209, 42, 12);
  color: white;
}
.nd h3 {
  color: rgb(67, 67, 67);
}

.nd span {
  color: red;
}
/* Chuyên mục */
.chuyenmuc {
  display: grid;
  grid-template-columns: repeat(8, 1fr); /* Tạo hai cột bằng nhau */
}

.anhCM {
  border: 1px solid rgb(230, 230, 230);
  height: 170px;
  text-align: center;
}
.anhCM a {
  color: black;
  text-decoration: none;
}
.anhCM a:hover {
  color: orangered;
  text-decoration: none;
}
.anhCM img {
  width: 100%;
  height: 140px;
}

/* Footer */
.footer {
  height: 400px;
  background-color: rgb(72, 68, 68);
  color: white;
  padding: 40px;
}
.chan {
  text-align: center;
}
